@import 'colors';
.form-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.step-page-container {
    flex: 1;
    margin: 0px 32px;
}

.form-continue-btn {
    background: $blue;
    margin: 32px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }
}

.common-btn {
    color: $white;
    background: $blue;
    padding: 20px;
    border-radius: 50px;
    font-size: 1.15em;
    cursor: pointer;
    border: none !important;
}