@import "styles";
@import "vars";
.old {
  font-family: "18thCentury";
}
.defaultfont {
  font-family: "Roboto", Helvetica, sans-serif;
}

audio {
  margin-bottom: 2.5rem;
}

#hero {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  width: 100%;
  position: relative;
  .mobile {
    display: none;
  }
  .nomobile {
    display: block;
  }
  img {
    width: 100%;
  }
  @include breakpoint("<=xsmall") {
    .mobile {
      display: block;
    }
    .nomobile {
      display: none;
    }
    .bgimg {
      width: 100vw;
      height: 100vh;
      background-size: cover;
      background-position: center center;
    }
    height: 100vh;
    img {
      height: 100vh;
    }
  }

  .futureProductions {
    position: absolute;

    top: 0rem;
    padding: 0 15rem;
    @include breakpoint(">=xlarge") {
      top: 10rem;
      padding: 0 0rem;
    }

    left: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    
    .flex-container {
      padding: 0;
      margin: 0;
      list-style: none;
      -ms-box-orient: horizontal;
      display: flex;
      justify-content: space-evenly;
      .flex-item {
        padding: 5px;

        width: 5.5em;
        @include breakpoint(">=xlarge") {
          width: 6.5em;
        }        

        margin: 10px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        .button {
          font-size: .7rem;
        }
      }
    }
    .wrap    { 
      flex-wrap: wrap;
      //li {
      //  background: gold;
      //}
    }  
  }

  .carouselCTA {
    position: absolute;
    right: 10rem;
    bottom: 10rem;
    @include breakpoint("<=xsmall") {
      right: 2rem;
      bottom: 6rem;
      a {
        padding: 0 1rem;
        //font-weight:900;
        font-size: 0.8rem;
      }
    }
  }

  .carouselCTA2 {
    position: absolute;
    right: 30rem;
    bottom: 10rem;
    @include breakpoint("<=xsmall") {
      left: 2rem;
      bottom: 6rem;
      a {
        padding: 0 0.5rem;
        //font-weight:900;
        font-size: 0.8rem;
      }
    }
  }

  .heroSlideAction img {
    width: 50%;
  }

  .heroSlideAction > a.heroSlidePrev {
    padding-right: 10px;
    left: 30px;
    @include breakpoint("<=xsmall") {
      left: 10px;
    }
  }

  .heroSlideAction > a.heroSlideNext {
    padding-left: 10px;
    right: 30px;
    @include breakpoint("<=xsmall") {
      right: 10px;
    }
  }

  .heroSlideAction > a {
    border: 2px solid #fff;
    background: none;
    opacity: 1;
    height: 80px;
    width: 80px;
    @include breakpoint("<=xsmall") {
      height: 30px;
      width: 30px;
      border: none;
    }
    border-radius: 50%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    margin-top: -50px;
    top: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 99;
  }
  .dorotheeBtn {
    background-color: #3d484c;
    color: #a3c7c9 !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;

  }
  .samuelBtn {
    background-color: #6c2215;
    color: #c56f1c !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;
  }
  .charlesBtn {
    background-color: #669999;
    color: #000 !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;
  }
  .linleyBtn {
    background-color: #7b2222 ;
    color: #fa7d69 !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;
  }
  .johnBtn {
    background-color: #501706;
    color: #e28712 !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;
  }
  .dorotheevisBtn {
    background-color: #cc3333;
    color: #f2ea99 !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;
  }
  .thomasBtn {
    background-color: #000;
    color: #838f9b !important;
    //font-size: 1.3em !important;
    text-transform: uppercase;
  }
}

.progress-container {
  width: 100%;
  margin: 0 auto;
  &.mobile {
    display: none;
  }
  &.nomobile {
    display: block;
  }
  @include breakpoint("<=xsmall") {
    &.mobile {
      display: block;
    }
    &.nomobile {
      display: none;
    }
  }
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 9rem;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #111;
  font-weight: 600;
  @include breakpoint("<=xsmall") {
    font-size: 5px;
    width: auto;
    display: inline-block;
  }
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 1.6rem;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  font-size: 1.3rem;
  color: #000;
  font-weight: 900;
  z-index: 1;
  position: relative;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: 0;
  @include breakpoint("<=xsmall") {
    display: none;
  }
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: _palette(accent4);
}
.progressbar li.active:before {
  border-color: _palette(accent4);
  background-color: _palette(accent4);
  color: #000;
  font-weight: 900;
  font-size: 1.3rem;
}
.progressbar li.active + li:after {
  background-color: _palette(accent4);
}

/* drag drop */
.dropdiv {
  width: 28rem;
  height: 8rem;
  background: url("../../../assets/images/dragndropbg.png");
  margin: 1rem auto;
  border: 3px dashed #ccc;
}
.dropdiv.processing {
  display: none;
}

.progress {
  display: none;
  width: 28rem;
  height: 8rem;
  margin: 1rem auto;
  background-color: red;
}
.progress.processing {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #ccc;
}

.custom-file-upload > input {
  display: none;
}

/* signature */
.signature-container {
  background-color: #fff;
  border: 5px dashed #ccc;
}
.signature-image {
  //background-color: #fff;
  //border: 5px dashed #ccc;
  //color:#000;
  font-weight: 900;
}

.accordion {
  //background-color: #eee;
  //color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  //background-color: #ccc;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  //background-color: white;
  overflow: hidden;
  transition: 0.8s;
}

/* The container */
.form-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  color: inherit;
}

/* Hide the browser's default checkbox */
.form-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.form-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.form-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

dp-date-picker {
  width: 100%;
  margin-bottom: 1rem;
  .dp-input-container {
    //input[type=text] {
    //  border-color:#eee !important;
    //   color:#ccc;
    //   }
  }
}

.application {
  //@include breakpoint("<=xsmall") {
  //  padding-top: 8px !important;
  //}
  header,
  h2,
  p,
  h3,
  ul,
  li,
  label,
  div {
    color: #000 !important;
  }

  .custom-file-upload {
    height: 100%;
  }

  fieldset {
    ::placeholder {
      color: #000 !important;
    }
    input {
      border-color: #111;
      color: #000;
      margin-right: 1rem;
      &:focus {
        border-color: rgba(0, 0, 0, 1) !important;
      }
      @include breakpoint("<=xsmall") {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    input[type="text"] {
      border-color: #111;
      color: #000;
      margin-bottom: 1rem;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
      border: solid 1px rgba(0, 0, 0, 1) !important;
    }
  }
  .dp-open {
    color: #000 !important;
  }
  .dp-input-container {
    input[type="text"] {
      border: solid 1px rgba(0, 0, 0, 1) !important;
    }
    input[type="text"] {
      border-color: #111 !important;
      color: #000;
      margin-bottom: 1rem;
    }
  }
}

dp-date-picker .dp-input-container {
  input[type="text"] {
    border: solid 1px rgba(0, 0, 0, 1) !important;
  }
  input[type="text"] {
    border-color: #111 !important;
    color: #000;
    margin-bottom: 1rem;
  }
}

input[type="text"].dp-picker-input {
  border-color: #111 !important;
  color: #000;
  margin-bottom: 1rem;
}

.item {
  opacity: 0.4;
  transition: 0.4s ease all;
  transform: scale(0.6);
}
.item img {
  display: block;
  min-width: 100%;
  width: auto;
  height: auto;
}
.active .item {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transform: scale(1);
  max-height: 680px !important;
}

/* content and cta */
.inner {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
}
/* END CTA Button*/

/* Title Animation */
.reveal-text,
.reveal-text:after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.reveal-text {
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  color: #ffe221;
  text-shadow: 1px 1px #000000;
  white-space: nowrap;
}
.reveal-text:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8ce2ea;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
}
.active .reveal-text {
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
}
.active .reveal-text:after {
  -webkit-animation-name: revealer-text;
  animation-name: revealer-text;
}
/* Before animation */
@-webkit-keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes reveal-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

/* After animation */
@-webkit-keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}
@keyframes revealer-text {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}
/* Title Animation END */

@media only screen and (max-width: 768px) {
  #full-width {
    padding: 0;
  }
  .item {
    transform: scale(0);
  }
  .item img {
    height: 400px !important;
  }
  .active .item img {
    max-height: 400px;
  }
}
@media only screen and (max-width: 420px) {
  .item img {
    height: 200px !important;
  }
  .active .item img {
    max-height: 200px;
  }
}
